<p>
    <mat-toolbar class="example-spacer">
      <span class="panel">Panel De Control</span>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Ver Productos</button>
        <button mat-raised-button color="Accent">Añadir Producto</button>
        <button mat-raised-button color="warn">Eliminar Producto</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </mat-toolbar>
  </p>