
<div class="divConteinerTable">
    <h2>Lista De Productos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="tittle" scope="col">ID</th>
                    <th class="tittle" scope="col">NOMBRE DE PRODUCTO</th>
                    <th class="tittle" scope="col">PRECIO</th>
                    <th class="tittle" scope="col">DESCRIPCION</th>
                    <th class="tittle" scope="col">ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.description }}</td>
                        <td>
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteOneProduct(product.id)">
                                    <mat-icon>delete</mat-icon>
                            </button>
                            
                    </td>
                    
                    
            </tbody>
        </table>
</div>