<div class="conteiner">
    <h2>Detalle de Producto</h2>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{oneProduct.productName}</mat-card-title>
          <mat-card-subtitle>tipo de Producto</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        
          <p>Descripcion</p>
          <p>{{product.description}</p>
          <mat-card-subtitle>$ {{product.price}</mat-card-subtitle>
        
        <mat-card-actions>
          <button mat-button color="warn">EDITAR PRODUCTO</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    
</div>