
<form [formGroup]="loginForm" class="mb-3">
  <div class="container">
    <h2>Añadir Nuevo Producto</h2>
    <mat-form-field appearance="fill">
      <mat-label>Nombre del Producto</mat-label>
      <input matInput formControlName="productName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>stock</mat-label>
    <input matInput value="1" formControlName="stock">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>imagen</mat-label>
    <input matInput placeholder="Agrega la url de la imagen. Ej:https://th.bing.com/th/id/OIP.YIBUoplaZSb9MPAX4VyaQgHaE8?w=290&h=193&c=7&r=0&o=5&dpr=1.1&pid=1.7" formControlName="img">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descripcion</mat-label>
    <textarea placeholder="Descripcion maximo de 200 caracteres" matInput formControlName="description"></textarea>
  </mat-form-field>
    <div class="example-button-row">
  <button mat-raised-button  color="primary" (click)="create(loginForm.value)">Guardar</button>
  <button mat-raised-button class="createBtn"(click)="ReturnList()">Cancelar</button>
</div>
</div>

</form>