<mat-form-field >
<mat-form-field appearance="fill">
    <mat-label>Nombre del Producto</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>tipo de servicio</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>precio</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>stock</mat-label>
    <input matInput value="1">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descripcion</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <button mat-button color="primary">Primary</button>
</mat-form-field>